<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dan2Doozer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DoozerUITestsUpdated.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2190CF71B7E9B9000267578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2301B271AF41A7C00E2267D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2301B461AF41A7C00E2267D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2C2F1F21B588AEB00360A25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
